#file span.closePage{margin-left:10px;cursor:pointer;}
#file span.clearCloseStyle{color:inherit;background:inherit;}
#file.nav-tabs>li>a {border-color:#DDD;border-bottom-color:transparent;font-size:12px;padding:5px;}
#file-tab .tab-pane{height:100%;}
#footer{text-align:center;position:fixed;bottom:10px;left:0px;right:0px;margin-bottom:0px;}
.container {width:95%;max-width:95%;}
