#file span.closePage{margin-left:10px;cursor:pointer;}
#file span.clearCloseStyle{color:inherit;background:inherit;}
#file.nav-tabs>li>a {border-color:#DDD;border-bottom-color:transparent;}
#file-tab .tab-pane{height:100%;}
